# Node
node_modules/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Built
dist/
lib/
build/
/storybook-static/

# Testing
coverage/

# Other
.cache
/*.log
*.lock
*.tsbuildinfo
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
